<div class="container my-3 text-center">
  <h1 class="my-2  fw-bolder">Text Analysis</h1>
  <label class="text-light-emphasis mb-2">Insert any text in the textarea To Analyse</label>
  <form (ngSubmit)="onSubmit()">
    <textarea 
      class="InputText  InputText form-control border border-dark border-1"
      [(ngModel)]="inputText" 
      name="inputText" 
      placeholder="Enter your text here"
      rows="3"
      required>
    </textarea>
    <input class="btn btn-outline-dark my-2" type="submit" [disabled]="!inputText.trim()" value="Submit">
  </form>
</div>