<div class="container">
  <p class="p-5 border border-dark border-1 fw-lighter text-justify small">
    Lorem ipsum odor amet, consectetuer adipiscing elit. Primis et arcu sociosqu rutrum feugiat est porta torquent justo
    dignissim hendrerit donec fusce torquent cursus iaculis dis orci libero neque litora gravida porta semper sem in
    condimentum risus urna auctor maximus vitae interdum ullamcorper vulputate rutrum sapien ullamcorper sollicitudin
    magnis venenatis rutrum dapibus urna euismod feugiat tempus pretium augue posuere ipsum penatibus conubia pellentesque
    primis dictum bibendum vestibulum cras quis adipiscing nostra convallis cursus facilisis suscipit nisi rutrum tincidunt
    suspendisse et fringilla sapien dignissim ex id class semper arcu cubilia nulla condimentum dapibus tempor nullam quis
    sed sociosqu dignissim commodo quam nulla curabitur nullam dignissim aliquam phasellus diam urna rhoncus vivamus finibus
    quam vel eget sodales at fermentum facilisi sed facilisi lectus vel vulputate curabitur hac vel sodales erat neque proin
    litora dui sit vel a primis taciti vehicula interdum facilisis nisl eros vitae quam scelerisque lorem quam adipiscing
    diam varius integer rhoncus convallis sapien auctor senectus velit nec diam porta praesent purus hac hac molestie laoreet
    ex ridiculus varius quam pulvinar sollicitudin etiam conubia molestie interdum vestibulum bibendum dictumst habitasse
    facilisis nulla sodales suspendisse et convallis cubilia condimentum enim varius vivamus risus habitant nulla netus
    montes nostra nisi vivamus nisi netus velit eu eros accumsan vulputate a semper lacus pulvinar viverra consectetur
    velit mus pretium finibus habitasse metus eget dapibus at vestibulum accumsan venenatis purus sem ultrices nec
    himenaeos etiam nibh viverra turpis molestie orci elit viverra tortor nulla venenatis viverra dis scelerisque
    convallis taciti tellus leo venenatis scelerisque facilisi ex vulputate integer malesuada pellentesque tortor tempor
    ultrices vehicula turpis nulla netus posuere donec pretium condimentum himenaeos ornare odio imperdiet pellentesque
    luctus orci condimentum facilisi faucibus non dapibus tortor dui platea inceptos laoreet odio odio platea luctus
    ornare habitant vivamus arcu purus parturient hendrerit quisque dignissim hac purus ipsum maecenas fringilla fringilla
    vestibulum velit urna lobortis aenean tellus iaculis sapien ante duis accumsan mus netus auctor nisi laoreet ex mauris
    feugiat massa lectus tristique est feugiat neque cursus dignissim erat et accumsan sit in cursus class duis sit cras
    penatibus donec sapien phasellus ornare primis neque efficitur sit consequat egestas tristique fermentum nullam eros
    conubia nisl erat nam nibh pulvinar integer feugiat arcu nullam lacus inceptos enim vehicula efficitur consectetur
    duis per parturient duis dui imperdiet magnis tortor at non proin dolor velit consequat blandit eget curae quam
    ultrices conubia pellentesque posuere porttitor class dapibus gravida quam sit massa cursus aliquet dictumst magnis
    tellus class nostra vitae varius aliquam augue viverra nullam etiam curae natoque et fames massa congue mollis
    ultrices pulvinar tellus cursus scelerisque posuere condimentum quis ullamcorper pharetra est molestie mattis
    vulputate cursus urna placerat parturient malesuada consequat malesuada aliquam ultricies augue diam metus integer
    eros tristique praesent volutpat nam sapien facilisis eu diam lacinia vulputate a porta maximus mattis nisl at proin
    vestibulum consequat velit purus praesent ante eget ullamcorper donec porttitor himenaeos integer praesent class
    convallis rutrum vivamus posuere commodo metus quis vivamus libero dui tortor dapibus lectus et phasellus iaculis
    eros fermentum nibh malesuada maximus ad quis hendrerit parturient finibus amet facilisis nam primis hendrerit amet
    tincidunt lacinia iaculis sociosqu nascetur cubilia consectetur aliquet porttitor blandit integer fames sit adipiscing
    phasellus faucibus cubilia morbi luctus ultricies curae imperdiet dapibus non nostra tincidunt laoreet eleifend
    viverra velit erat mus justo eget dictumst ligula est tristique volutpat metus fermentum adipiscing senectus facilisi
    mauris elementum lobortis malesuada tempus justo etiam convallis augue ligula tempor egestas platea nisl semper
    venenatis eu ante imperdiet augue per habitant ex elementum dolor nunc fusce sodales quam hac finibus himenaeos
    gravida tincidunt himenaeos dapibus malesuada mi class pellentesque nec placerat bibendum vel faucibus eget taciti
    at justo enim gravida nullam praesent auctor.

  </p>
</div>
