body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

main {
  flex: 1; 
  min-height: 75vh;/* Pushes the footer to the bottom */
}

footer {
  background-color: #343a40; /* Same as bg-dark */
  color: white;
}